body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.nav
{
    display: inline;
}
ul,li
{
    display: inline;
}
.img-txt{
    margin-top: 90px;
}
.img1{
    margin: 20px;
    float: right;
}
.faq{
    width: 100%;
    height: 100%;
    border: solid black 1px;
    text-align: center;
}
.bottom{
    border: solid 2px black;
    text-align: center;
    padding: 2rem;
    
}
.bottom button{
    margin-top: 1rem;
}
.footer{
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 1rem;
}
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  .two,.one{
    width: 50%;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
